body {
  background-color: #ba0d21;
}

li {
  display: inline:
}

li {
  float: left;
}

a {
  display: block;
  padding: 15px;
  background-color: #ba0d21;
}

ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color:#cc0252
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#ea176b;
}

.active {
  background-color:#ea176b;
}

body {
  margin: 50px;
}

.sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }


    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:
    "....... header header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
    }


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 30px;
  font-size: 100%;
}

.header,
.footer {
  background-color: #999;
}

body {
  margin: 40px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box2 {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
