body {
  background-color: #ba0d21;
}

li {
  display: inline:
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #ba0d21;
}

body {
  margin: 50px;
}

.sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }


    .wrapper {
        display: grid;
    grid-gap: 50px;
        grid-template-columns: 20% 20% 20%;
        grid-template-areas:
    "....... header header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
    }


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 30px;
  font-size: 100%;
}

.header,
.footer {
  background-color: #999;
}
